@media all{     
    body {  
      font-size:16px;
      color:#000;
      font-family:"游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
      line-height:1.6;
    }  
  }  
  @media all{ 
    * { 
      font-size: 1em; 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
    } 
  
    body { 
      overflow-x: hidden; 
      width: 100%; 
      margin: 0; 
      padding: 0; 
      color: #000; 
      font-size: 16px; 
      font-family: "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif; 
      line-height: 1.6;
    } 
  
    body { 
      background-color: #eaeaea;
    } 
  
    section { 
      display: block;
    } 
  
    .bg-gray02 { 
      background-color: #444444;
    } 
  
    .content { 
      padding: 80px 0;
    } 
  
    .inner { 
      width: 100%; 
      max-width: 1070px; 
      margin: 0 auto;
    } 
  
    .inner  { 
      width: 100%; 
      padding: 0;
    } 
  
    .sec-title  { 
      margin-bottom: 36px; 
      font-size: 24px; 
      line-height: 1.4; 
      color: #ffffff;
    } 
  
    .inner .news-wrap  { 
      padding-left: 4.2666666667%; 
      padding-right: 4.2666666667%;
    } 
  
    ul { 
      list-style: none;
    } 
  
    .card-list.archives { 
      display: flex; 
      justify-content: flex-start; 
      align-items: stretch; 
      flex-wrap: wrap; 
      gap: 10px;
    } 
  
    li { 
      list-style: none;
    } 
  
    .card-list li  { 
      color: #ffffff;
    } 
  
    .card-list.archives .card-item  { 
      width: calc((100% - 20px) / 3);
    } 
  
    a { 
      color: #2ec933; 
      text-decoration: none; 
      transition: opacity 0.4s; 
      cursor: pointer;
    } 
  
    .card-list .card-item a  { 
      position: relative; 
      display: block; 
      height: 100%; 
      background-color: #ffffff;
    } 
  
    .card-list .card-item a::after { 
      content: ""; 
      position: absolute; 
      bottom: 0; 
      right: 0; 
      display: block; 
      width: 0; 
      border-style: solid; 
      border-width: 10px; 
      border-color: transparent #2ec933 #2ec933 transparent;
    } 
  
    a:hover { 
      opacity: 0.5;
    } 
  
    a,a:visited { 
      color: #2ec933; 
      text-decoration: none; 
      transition: opacity 0.4s; 
      cursor: pointer;
    } 
  
    a:hover,a:visited:hover { 
      opacity: 0.5;
    } 
  
    figure { 
      display: block;
    } 
  
    .card-list .card-item .img  { 
      aspect-ratio: 520/390;
    } 
  
    .card-list .card-item .tags  { 
      display: flex; 
      justify-content: space-between; 
      align-items: flex-start; 
      flex-wrap: wrap; 
      font-family: Avenir, sans-serif; 
      position: absolute; 
      top: 0; 
      left: 0;
    } 
  
    .card-list .card-item .item-body  { 
      padding: 6.1538461538% 7.6923076923%;
    } 
  
    img { 
      display: block; 
      width: 100%; 
      height: auto; 
      padding: 0; 
      margin: 0; 
      border: none;
    } 
  
    .card-list .card-item .img img  { 
      width: 100%; 
      height: 100%; 
      -o-object-fit: cover; 
      object-fit: cover;
    } 
  
    .card-list .card-item .item-name  { 
      padding-bottom: 6.1538461538%;
    } 
  
    dl { 
      list-style: none;
    } 
  
    .card-list .card-item .item-info  { 
      padding-top: 6.1538461538%; 
      border-top: solid 1px #e2e2e2;
    } 
  
    .card-list .card-item .tags > *  { 
      display: block; 
      padding: 0.4285714286em 0.6428571429em; 
      font-size: 14px; 
      line-height: 1; 
      color: #ffffff; 
      background-color: #808080;
    } 
  
    .card-list .card-item .tags > .new  { 
      background-color: #2ec933;
    } 
  
    .card-list .card-item .item-name .type-nm  { 
      display: block; 
      font-size: 14px; 
      font-weight: normal;
    } 
  
    .card-list .card-item .item-info div  { 
      line-height: 1;
    } 
  
    dt { 
      list-style: none;
    } 
  
    .card-list .card-item .item-info dt  { 
      display: inline; 
      font-size: 14px; 
      line-height: 1.5;
    } 
  
    .card-list .card-item .item-info dt  { 
      font-weight: bold;
    } 
  
    .card-list .card-item .item-info dt::after { 
      content: " :";
    } 
  
    dd { 
      list-style: none;
    } 
  
    .card-list .card-item .item-info dd  { 
      display: inline; 
      font-size: 14px; 
      line-height: 1.5;
    } 
  }     
  
  
  