 
    .inner { 
      width: 100%; 
      max-width: 1070px; 
      margin: 0 auto;
    } 
  
    .wrap  { 
      display: flex; 
      justify-content: space-between; 
      align-items: flex-start; 
      flex-wrap: wrap;
    } 
  
    .content { 
      padding: 80px 0;
    } 
  
    .content  { 
      padding-top: 0;
    } 
  
    .block  { 
      padding: 40px; 
      background-color: #ffffff;
    } 
  
    .wrap .block  { 
      width: calc((100% - 10px) / 2);
    } 
  
    .wrap .block .heading  { 
      padding-bottom: 20px; 
      margin-bottom: 40px; 
      font-size: 24px; 
      line-height: 1; 
      border-bottom: solid 1px #e2e2e2;
    } 
  
    .heading  { 
      padding-bottom: 0.4em; 
      font-size: 24px; 
      font-weight: bold; 
      border-bottom: solid 1px #2ec933;
    } 
  
    #wpmem_login { 
      width: 75%;
    } 
  
    #wpmem_login { 
      color: #2b2b2b; 
      font-family: Arial,sans-serif; 
      font-size: 16px; 
      font-weight: 400; 
      line-height: 1.5;
    } 
  
    #wpmem_login  { 
      width: 100%;
    } 
  
    dl { 
      list-style: none;
    } 
  
    .merit + .btn01  { 
      margin-top: 40px; 
      font-size: 22px;
    } 
  
  

  
    #wpmem_login .form  { 
      margin: 0; 
      padding: 0;
    } 
  
    dt { 
      list-style: none;
    } 
  
    .merit dt  { 
      font-weight: bold;
    } 
  
    .merit dt  { 
      color: #ffffff;
    } 
  
    .merit dt  { 
      color: #2ec933;
    } 
  
    dd { 
      list-style: none;
    } 
  
    .merit dd  { 
      font-weight: bold;
    } 
  
    .merit dd  { 
      margin-top: 0.25em; 
      font-size: 22px; 
      font-feature-settings: "palt";
    } 
  
    .merit dd + dt  { 
      margin-top: 0.75em;
    } 
  
    .btn01 > *  { 
      display: flex; 
      justify-content: center; 
      align-items: center; 
      flex-wrap: wrap; 
      width: 100%; 
      height: 100%; 
      padding: 1.25em; 
      font-weight: bold; 
      color: #ffffff !important; 
      background-color: #2ec933;
    } 
  
 
  
    a:hover,a:visited:hover { 
      opacity: 0.5;
    } 
  
    input { 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none; 
      border: solid 1px #2ec933; 
      display: block; 
      background-color: #ffffff;
    } 
  
    input  { 
      font-family: "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif; 
      display: block; 
      width: 100%; 
      height: 40px; 
      padding: 0.2em 20px 0; 
      border: solid 1px #2ec933;
    } 
  
    #wpmem_login input  { 
      -moz-box-sizing: border-box; 
      font-size: 100%; 
      margin: 0; 
      max-width: 100%; 
      vertical-align: baseline;
    } 
  
    #wpmem_login input  { 
      border: solid 1px #2ec933;
    } 
  
    #wpmem_login fieldset  { 
      border: none; 
      padding: 0; 
      margin: 40px 0;
    } 
  
    #wpmem_login fieldset  { 
      border: none;
    } 
  
    .merit dt span  { 
      display: inline; 
      padding-bottom: 0.25em; 
      border-bottom: solid 3px #ffffff;
    } 
  
    .merit dt span  { 
      border-color: #2ec933;
    } 
  
    .merit dd span  { 
      display: inline; 
      padding-bottom: 0.25em; 
      border-bottom: solid 3px #ffffff;
      color: #000000;
    } 
  
    .merit dd span  { 
      border-color: #000000;
    } 
  
    #wpmem_login legend  { 
      font-size: 24px; 
      line-height: 1; 
      font-weight: 700; 
      margin-bottom: 10px; 
      width: 100%;
    } 
  
    #wpmem_login fieldset legend  { 
      display: none;
    } 
  
    #wpmem_login label  { 
      display: initial;
    } 
  
    #wpmem_login fieldset > label  { 
      display: block; 
      margin-bottom: 20px; 
      font-weight: bold; 
      line-height: 1;
    } 
  
    #wpmem_login .div_text  { 
      margin: 0 0 14px 0;
    } 
  
    #wpmem_login fieldset .div_text + label  { 
      margin-top: 40px;
    } 
  
    #wpmem_login .button_div  { 
      padding: 6px 0; 
      text-align: right;
    } 
  
    #wpmem_login fieldset .button_div  { 
      display: flex; 
      justify-content: flex-start; 
      align-items: center; 
      flex-wrap: wrap; 
      padding: 0; 
      margin-top: 40px; 
      font-weight: bold;
    } 
  
    .link-text  { 
      padding-top: 40px; 
      margin-top: 40px; 
      border-top: solid 1px #e2e2e2;
    } 
  
    #wpmem_login .link-text  { 
      padding: 4px 0; 
      text-align: right;
    } 
  
    #wpmem_login .link-text  { 
      padding: 0; 
      padding-top: 40px; 
      text-align: left;
    } 
  
    #wpmem_login .username  { 
      width: 100%;
    } 
  
    #wpmem_login input[type="text"]  { 
      border: 1px solid rgba(0,0,0,.1); 
      border-radius: 2px; 
      color: #2b2b2b; 
      padding: 8px 10px 8px; 
      background: none repeat scroll 0 0 #fff;
    } 
  
    #wpmem_login .password  { 
      width: 100%;
    } 
  
    #wpmem_login input[type="password"]  { 
      border: 1px solid rgba(0,0,0,.1); 
      border-radius: 2px; 
      color: #2b2b2b; 
      padding: 8px 10px 8px; 
      background: none repeat scroll 0 0 #fff;
    } 
  
    input[type="checkbox"]  { 
      width: 40px; 
      height: 40px; 
      cursor: pointer;
    } 
  
    #wpmem_login input[type="checkbox"]  { 
      margin: 12px 2px;
    } 
  
    #wpmem_login fieldset .button_div input[type="checkbox"]  { 
      margin: 0;
    } 
  
    #wpmem_login fieldset .button_div label  { 
      margin-left: 1em;
    } 
  
    #wpmem_login fieldset .button_div input[type="submit"]  { 
      color: #ffffff; 
      text-decoration: none; 
      transition: opacity 0.4s; 
      cursor: pointer; 
      width: 100%; 
      height: 86px; 
      margin: 36px 0 0; 
      font-size: 22px; 
      font-weight: bold; 
      background-color: #2ec933;
    } 
  
    .link-text .link-text-forgot  { 
      margin-bottom: 40px; 
      font-size: 18px; 
      font-weight: bold; 
      line-height: 1;
    } 
  
    textarea { 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none; 
      border: solid 1px #2ec933; 
      display: block; 
      background-color: #ffffff;
    } 
  
    .link-text .link-text-forgot a  { 
      color: #ffffff; 
      text-decoration: none; 
      transition: opacity 0.4s; 
      cursor: pointer; 
      display: flex; 
      justify-content: center; 
      align-items: center; 
      flex-wrap: wrap; 
      width: 100%; 
      height: 40px; 
      margin-top: 40px; 
      font-weight: bold; 
      background-color: #2ec933;
    } 
  
    #member .link-text .link-text-forgot a:hover { 
      opacity: 0.5;
    } 
    
  
