
  header { 
    display: block;
  } 

  #page-header  { 
    padding: 80px 0 40px; 
    font-size: 32px; 
    color: #ffffff;

  } 

  .inner { 
    width: 100%; 
    max-width: 1070px; 
    margin: 0 auto;
  } 
   


