input { 
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif; 
  display: block; 
  width: 100%; 
  height: 40px; 
  padding: 0.2em 20px 0; 
  border: solid 1px #2ec933;
}

#wpmem_reg input { 
  -moz-box-sizing: border-box; 
  font-size: 100%; 
  margin: 0; 
  max-width: 100%; 
  vertical-align: baseline;
}

#wpmem_reg fieldset { 
  border: none; 
  padding: 0; 
  margin: 40px 0;
}

#wpmem_reg fieldset { 
  margin: 0;
}

.register #wpmem_reg fieldset { 
  display: grid; 
  grid-template-columns: calc((100% - 120px) / 4) calc((100% - 120px) / 4) calc((100% - 120px) / 2); 
  grid-template-areas: "header header header" "h1 h1 h11" "c1 c1 c11" "h2 h2 h12" "c2 c2 c12" "h3 h4 h13" "c3 c4 c13" "h5 h6 h14" "c5 c6 c14" "h7 h7 h15" "c7 c7 h15" "h8 h9 h16" "c8 c9 c16" "h10 h10 h17" "c10 c10 h17" "h19 h19 h19" "c19 c19 c19" "h18 h18 h18" "c18 c18 c18" "btn btn btn"; 
  grid-column-gap: 40px; 
  border: none;
}

.register #wpmem_reg fieldset { 
  grid-template-areas: "header header header" "h1 h1 h10" "c1 c1 h10" "h2 h2 h11" "c2 c2 h11" "h3 h4 h12" "c3 c4 h12" "h5 h5 h13" "c5 c5 h13" "h6 h6 h14" "c6 c6 h14" "h7 h7 h15" "c7 c7 h15" "h8 h8 h16" "c8 c8 h16" "h9 h9 a" "c9 c9 a" "h15 h15 h15" "c15 c15 c15" "c16 c16 c16" "btn btn btn";
}

#wpmem_reg legend { 
  font-size: 24px; 
  line-height: 1; 
  font-weight: 700; 
  margin-bottom: 10px; 
  width: 100%;
}

.register #wpmem_reg fieldset legend { 
  display: none; 
  grid-area: header;
}

#wpmem_reg label { 
  display: initial;
}

.register #wpmem_reg fieldset label { 
  font-weight: bold; 
  margin-bottom: 16px;
}

.register #wpmem_reg fieldset label:nth-of-type(1) { 
  grid-area: h1;
}

#wpmem_reg .div_text { 
  margin: 0 0 14px 0;
}

.register #wpmem_reg fieldset .div_text { 
  margin-bottom: 0;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(1) { 
  grid-area: c1;
}

.register #wpmem_reg fieldset label:nth-of-type(2) { 
  grid-area: h2;
}

.register #wpmem_reg fieldset .div_text + label { 
  margin-top: 40px;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(2) { 
  grid-area: c2;
}

.register #wpmem_reg fieldset label:nth-of-type(3) { 
  grid-area: h3;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(3) { 
  grid-area: c3;
}

.register #wpmem_reg fieldset label:nth-of-type(4) { 
  grid-area: h4;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(4) { 
  grid-area: c4;
}

.register #wpmem_reg fieldset label:nth-of-type(5) { 
  grid-area: h5;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(5) { 
  grid-area: c5;
}

.register #wpmem_reg fieldset label:nth-of-type(6) { 
  grid-area: h6;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(6) { 
  grid-area: c6;
}

.register #wpmem_reg fieldset label:nth-of-type(7) { 
  grid-area: h7;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(7) { 
  grid-area: c7;
}

.register #wpmem_reg fieldset label:nth-of-type(8) { 
  grid-area: h8;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(8) { 
  grid-area: c8;
}

.register #wpmem_reg fieldset label:nth-of-type(9) { 
  grid-area: h9;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(9) { 
  grid-area: c9;
}

.register #wpmem_reg fieldset label:nth-of-type(10) { 
  grid-area: h10;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(9) + label { 
  margin-top: 0;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(10) { 
  grid-area: c10;
}

.register #wpmem_reg fieldset label:nth-of-type(11) { 
  grid-area: h11;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(10) + label { 
  margin-top: 0;
}

.register #wpmem_reg fieldset label:nth-of-type(11) { 
  grid-area: h11; 
  margin-top: 40px;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(11) { 
  grid-area: c11;
}

.register #wpmem_reg fieldset label:nth-of-type(12) { 
  grid-area: h12;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(12) { 
  grid-area: c12; 
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  flex-wrap: wrap;
}

.register #wpmem_reg fieldset label:nth-of-type(13) { 
  grid-area: h13;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(13) { 
  grid-area: c13;
}

.register #wpmem_reg fieldset label:nth-of-type(14) { 
  grid-area: h14;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(14) { 
  grid-area: c14;
}

.register #wpmem_reg fieldset label:nth-of-type(15) { 
  grid-area: h15;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(15) { 
  grid-area: c15;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(16) { 
  grid-area: c16;
}

.register #wpmem_reg fieldset .div_text:nth-of-type(16) { 
  grid-area: c16; 
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  margin-top: 40px;
}

.register #wpmem_reg fieldset label:nth-of-type(16) { 
  grid-area: h16;
}

.register #wpmem_reg fieldset label:nth-of-type(16) { 
  grid-area: h16; 
  margin-top: 40px;
}

#wpmem_reg .div_checkbox { 
  margin: 0 0 14px 0;
}

.register #wpmem_reg fieldset .div_checkbox { 
  margin-bottom: 0;
}

.register #wpmem_reg fieldset .div_checkbox:nth-of-type(17) { 
  grid-area: c17;
}

.register #wpmem_reg fieldset label:nth-of-type(17) { 
  grid-area: h17;
}

.register #wpmem_reg fieldset label:nth-of-type(17) { 
  grid-area: h17; 
  margin-top: 40px;
}

.register #wpmem_reg fieldset .div_checkbox:nth-of-type(18) { 
  grid-area: c18;
}

#wpmem_reg .button_div { 
  padding: 6px 0; 
  text-align: right;
}

.register #wpmem_reg fieldset .button_div { 
  grid-area: btn; 
  margin-top: 40px;
}

#wpmem_reg .req-text { 
  margin: 20px 0 0 5px;
}

.register #wpmem_reg fieldset .button_div + .req-text { 
  display: none;
}

#wpmem_reg .req { 
  color: #bd3500; 
  font-size: 22px; 
  line-height: 50%;
}

.register .req { 
  color: #bd3500; 
  font-size: 22px; 
  line-height: 50%;
}

#wpmem_reg .textbox { 
  width: 100%;
}

#wpmem_reg input[type="text"] { 
  border: 1px solid rgba(0,0,0,.1); 
  border-radius: 2px; 
  color: #2b2b2b; 
  padding: 8px 10px 8px; 
  background: none repeat scroll 0 0 #fff;
}

#wpmem_reg input[type="text"] { 
  border: solid 1px #2ec933;
}

#wpmem_reg input[type="email"] { 
  border: 1px solid rgba(0,0,0,.1); 
  border-radius: 2px; 
  color: #2b2b2b; 
  padding: 8px 10px 8px; 
  background: none repeat scroll 0 0 #fff;
}

#wpmem_reg input[type="email"] { 
  border: solid 1px #2ec933;
}

select { 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  border: solid 1px #2ec933; 
  display: block; 
  background-color: #ffffff;
}

.select2-hidden-accessible { 
  border: 0!important; 
  clip: rect(0 0 0 0)!important; 
  height: 1px!important; 
  margin: -1px!important; 
  padding: 0!important; 
  width: 1px!important; 
  position: absolute!important;
}

.select2-container .selection { 
  height: 40px!important;
}

select, 
input[type="submit"], 
input[type="button"], 
input[type="reset"] { 
  cursor: pointer;
}

.register .loading_spinner {
  display: none;
}

@media (max-width: 767px) {
  .register #wpmem_reg fieldset {
    grid-template-columns: 1fr; /* One column */
    grid-template-areas: 
      "header"
      "h1"
      "c1"
      "h2"
      "c2"
      "h3"
      "c3"
      "h4"
      "c4"
      "h5"
      "c5"
      "h6"
      "c6"
      "h7"
      "c7"
      "h8"
      "c8"
      "h9"
      "c9"
      "h10"
      "c10"
      "h11"
      "c11"
      "h12"
      "c12"
      "h13"
      "c13"
      "h14"
      "c14"
      "h15"
      "c15"
      "h16"
      "c16"
      "h17"
      "h17"
      "btn";
  }

  .register #wpmem_reg fieldset label,
  .register #wpmem_reg fieldset .div_text,
  .register #wpmem_reg fieldset .div_checkbox,
  .register #wpmem_reg fieldset .button_div {
    grid-column: span 1;
    width: 100%;
  }

  .register #wpmem_reg fieldset label {
    margin-bottom: 10px; 
  }

  .register #wpmem_reg fieldset .button_div {
    margin-top: 20px;
    text-align: center; 
  }

  .register #wpmem_reg fieldset .div_text {
    margin-bottom: 20px; 
  }

  .select2-container .selection {
    height: 40px !important;
    padding: 0.2em 20px 0;
  }
}
